/* Classes de cores */
.c0 {
  color: var(--c0);
}
.c1 {
  color: var(--c1);
}
.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.c5 {
  color: var(--c5);
}
.c6 {
  color: var(--c6);
}
.c7 {
  color: var(--c7);
}
.c8 {
  color: var(--c8);
}
.c9 {
  color: var(--c9);
}
.c10 {
  color: var(--c10);
}
.c11 {
  color: var(--c11);
}
.c12 {
  color: var(--c12);
}

.p1 {
  color: var(--p1);
}
.p2 {
  color: var(--p2);
}
.p3 {
  color: var(--p3);
}
.p4 {
  color: var(--p4);
}
.p5 {
  color: var(--p5);
}

.red {
  color: var(--red);
}
.yellow {
  color: var(--yellow);
}
.green {
  color: var(--green);
}

.bg-12 {
  background: var(--c12);
}

.bg-red {
  background-color: var(--red);
}
