.m-1-5 {
  margin: 1.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.form__row {
  display: flex;
}

.form__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 2px;
  border: 1px solid var(--c8);
}

.form__input {
  border: none;
  outline: none;
  width: 100%;
  transition: 0.3s;
}

.form__select {
  border: none;
  outline: none;
  transition: 0.3s;
  background: var(--c12);
  border: 1px solid var(--c8);
  border-radius: 2px;
  padding: 0.25rem 0.85rem;
}

.input__icon {
  width: 2.5rem;
  height: 1rem;
  outline: none;
  border: none;
  background: none;
}

.form__input::placeholder {
  color: var(--c8);
}

.login__input--error {
  border: 1px solid var(--red);
}

.input__legend {
  display: inline-block;
  margin-top: 0.5rem;
  color: var(--red);
}

.hidden {
  display: none;
}

.img {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 2px;
  align-self: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn-primary {
  background-color: var(--p1);
  color: var(--c12);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: 1px solid var(--p1);
  align-self: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn-primary-red {
  background: var(--red);
  border: 1px solid var(--red);
  color: var(--c12);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  align-self: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn-outline {
  background-color: var(--c12);
  color: var(--c4);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: 2px solid var(--c6);
  align-self: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: var(--p2);
}

.btn-outline:hover {
  background-color: var(--c10);
}

.container {
  background: var(--c12);
  border-radius: 2px;
  padding: 1rem;
}
