.filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-self: unset;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--c12);
  width: 100%;
  height: 56px;
  padding: 0 1.5rem;
  border: 1px solid var(--c-10, rgba(237, 237, 237, 1));
  gap: 20px;
  border-radius: 2px;
}
