.picker__box {
  border: 1px solid var(--c8);
  border-radius: 2px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 1rem;
}

.picker__input {
  width: 18ch;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
}

.picker__input:focus {
  outline: none;
  box-shadow: none;
}
